body{
  margin: 0;
  padding: 0;
}

/*-----------Navigation Header --------- */
.nav-top{
  border-bottom: 2px solid yellow;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem 0rem 0rem 0rem;
}

.logo{
  cursor: pointer;
}

#search-input{
  padding: 15px;
  font-size: 16px;
  border: 1px solid darkblue;
  width: 22rem;
}

#search-icon{
  margin-left: -5px;
  padding: 15px 20px 15px 20px;
  background: darkblue;
  color: white;
  border: 1px solid darkblue;
  cursor: pointer;
}

#toggle-btn{
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.etc a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}


/*Menu*/
.navs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navs li {
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navs li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navs li a:hover {
  background-color: #111;
}

/*Carousel*/
ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: 100%;
    height: 100vh;
    background-color: red;
    border: black solid 1px;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls span{
  color: black;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }



/*About*/
.flex-container-about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 8rem 2rem 8rem;
  flex-wrap: wrap;
  padding: 15px;
}

#about{
  background-color: rgba(216, 214, 214, 0.7);
}

#about-info{
  flex: 50%;
}

#about-img{
  flex: 50%;
}

.about-content{
  padding: 20px;
  height: 100%;
  padding-bottom: 50px;
}

.about-content h1{
  margin-bottom: 0;
  padding-bottom: 2;
}

.divider{
  border: 2px solid rgb(228, 29, 29);
  padding: 0;
  margin: 0;
  width: 40%;
}

.about-content p{
  margin-bottom: 50px;
}

.about-content a{
  text-decoration: none;
  background-color: rgb(24, 24, 77);
  color: white;
  padding: 15px 20px 15px 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.about-content h1{
  font-size: 2.5rem;
}

.about-content p{
  font-size: 1.3rem;
}



/*Media Query*/

@media only screen and (max-width: 800px) {
  .flex-container {
    margin: 1rem 1rem 0rem 0rem;
    justify-content: space-between;
  }
  #toggle-btn{
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .navs,.search,.etc{
    display: none;
  }
  .nav-top{
    padding-bottom: 1rem;
  }
  .logo{
    transform: scale(.75);
  }
}


